@import "../utils/utils";

.acf-block-faq {

  padding-top: rem-calc(45);
  padding-bottom: rem-calc(45);

  @include bp(lg) {

    padding-top: rem-calc(110);
    padding-bottom: rem-calc(80);
  }

  &__row {

    @include bp(lg) {

      display: flex;
    }
  }

  &__col {

    &:first-child {

      flex-basis: 40.5%;
      flex-shrink: 0;
      padding-right: 1.14%;
    }

    &:last-child {

      flex-basis: 100%;
      padding-left: 1.14%;
    }
  }

  &__header {

    margin-bottom: rem-calc(20);

    @include bp(lg) {
      margin-bottom: 0;
    }
  }

  &__subtitle,
  &__title {

    font-family: $base_Font_Family;
  }

  &__subtitle {

    display: block;

    margin-bottom: rem-calc(9);

    font-weight: 500;
    font-size: rem-calc(12);
    line-height: 1.36;

    color: $grey;

    @include bp(xl) {

      font-size: rem-calc(16);
    }
  }

  &__title {

    margin-bottom: 0;

    font-weight: 600;
    font-size: rem-calc(36);
    line-height: 1.06;

    color: $black;

    @include bp(xl) {

      font-size: rem-calc(50);
    }
  }

  &__list {

    @include listStyleNone();

    @include bp(lg) {

      margin-top: rem-calc(28);
    }
  }

  &__item {

    border-bottom: 1px solid #EEE;

    &-question,
    &-answer {

      font-family: $base_Font_Family;
    }

    &-question {

      @include transition();

      position: relative;

      padding-top: rem-calc(15);
      padding-right: 40px;
      padding-bottom: rem-calc(18);

      font-weight: 400;
      font-size: rem-calc(18);
      line-height: 1.06;
      color: $black;

      cursor: pointer;

      @include bp(lg) {

        font-size: rem-calc(24);
      }

      &-icon {

        position: absolute;
        top: 50%;
        right: 0;

        transform: translateY(-50%);

        &>.svg-icon {

          stroke: #292D32;

          path:last-child {

            @include transition();
            transform-origin: center;
          }
        }
      }
    }

    &-answer {

      padding-bottom: rem-calc(18);

      p, li, ol {

        font-weight: 500;
        font-size: rem-calc(14);
        line-height: 1.36;
        color: $black;
      }
    }
  }

  &__item.close &__item-question {

    color: $grey;

    &:hover {

      @include transition();

      color: $black;
    }
  }

  &__item.close &__item-question-icon .svg-icon path:last-child {

    @include transition();

    transform: rotate(90deg);
    transform-origin: center;
  }

  &__item.close &__item-answer {

    display: none;
  }
}