.container {

  @include container();

  @each  $name, $size in $container-Max-Widths
  {
    @include bp($name)
    {
      @include container($size);
    }
  }
}

.visually-hidden {

  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.no-scroll {
  overflow: hidden;

  @include bp(lg) {

    padding-right: 5px;
  }
}

html body:after {
  content: '';
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;

  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;
  @include transition(opacity, 0.3s, ease);
}

html body.no-scroll:after {
  visibility: visible;
  opacity: 1;
  @include transition(all, 0.3s, ease);
}